* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #fff;
}
.section1 {
  display: inline-flex;
  flex-direction: column;
  background-color: #00009a;
}
.section1 > li {
  min-width: 150px;
  padding: 10px;
  position: relative;
}
.section1 > li:hover {
  background-color: #c00;
}
.section1 > li:hover > .section2 {
  display: block;
}
.section2 {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #c00;
  display: none;
}
.section2 li {
  padding: 10px;
  width: 150px;
}
